# Bloquear acceso al archivo .env por razones de seguridad crítica
<Files .env>
    Order allow,deny
    Deny from all
</Files>

# Documento de error 403 personalizado y hermoso
ErrorDocument 403 /pollito/upload/api_tesoreria/error_403.html

# Habilitar cabeceras y manejo de index
DirectoryIndex index.php

# Desactivar visualización de carpetas
Options -Indexes
